@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --hight-header: 72px;
  --primary-color: #f36f25;
}

.hover-effect:hover {
  transition: all 0.3s ease-in-out;
}

.text-hover-effect:hover {
  color: var(--primary-color);
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
